@model ProductViewModel

<div class="col mb-5">
	<div class="card h-100">
		<!-- Product image-->
		<img class="card-img-top" src="~/image/@Model.ImageUrl" alt="..." />
		<!-- Product details-->
		<div class="card-body p-4">
			<div class="text-center">
				<!-- Product name-->
				<h5 class="fw-bolder">@Model.Title</h5>
				<!-- Product reviews-->
				<div class="d-flex justify-content-center small text-warning mb-2">
					@{
						for (int i = 0; i <= Model.StarCount; i++)
						{
							<div class="bi-star-fill"></div>
						}
					}
				</div>

				<!-- Product price-->
				@if (Model.IsSale == true)
				{
					<span class="text-muted text-decoration-line-through">@Model.OldPrice$</span> <span>@Model.Price$</span>

					<!-- Sale badge-->
					<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
				}
				else
				{
					<span>@Model.Price$</span>
				}

				


			</div>
		</div>
		<!-- Product actions-->
		<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
		</div>
	</div>
</div>




@*<div class="col mb-5">
	<div class="card h-100">
		<img class="card-img-top" src="@Model.ImageUrl" alt="Product Image" style="object-fit: cover;">
		<div class="card-body p-4">
			<div class="text-center">
				<h5 class="fw-bolder">@Model.Title</h5>
				<div class="d-flex justify-content-center small text-warning mb-2">
					@for (int i = 0; i < Model.StarCount; i++)
					{
						<div class="bi-star-fill"></div>
					}
				</div>
				@if (Model.IsSale == true)
				{
					<div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 1rem; ">Sale</div>
					<span class="text-muted text-decoration-line-through">$@Model.OldPrice</span> <span style="margin-left:10px;">$@Model.Price</span>
					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div style="margin-top:25px" class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Options</a></div>
					</div>
				}@if (Model.IsSale == false)
				{
					<span>$@Model.Price</span>
					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div style="margin-top:25px" class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
*@




